@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');
@import "tailwindcss";

* { font-family: 'Inter', sans-serif; }
.font-playfair { font-family: 'Playfair Display', serif !important; }

@theme {
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
}
